doctype html
html
	head
		title Restaurant Manager - Home
		link(rel="stylesheet", href="/home.css")

	body
		include header.pug

		div.page-container
			div.content
				h1 Welcome to Restaurant Manager
				p This is a restaurant management system where you can view, add, and edit restaurants and their menus.